.band {
      background-image: linear-gradient(to right, #2a27a8 0%,#8c50bc 50%,#fc6e6c 100%);
      height: 10px;
      top: 0;
      right: 0;
      left: 0;
      position: fixed;
    }
    .wrapper {
      padding: 2em 20px;
      max-width: 900px;
      margin: 0 auto;
    }
    
    .header iframe {
      margin-bottom: 2rem;
    }
    .header p {
      margin: 0 0 .5rem 0;
      font-size: 1.25rem;
    }
    .header ul {
      list-style-type: none;
      margin-right: 0;
      padding: 0;
      line-height: 2;
    }
    .header ul li:before {
      content: '\2714';
      margin-right: .5em;
      color: #94be47;
      font-size: .75em;
    }
    .part {
      display: none;
    }
    .modal p { 
      margin: 1em 0; 
    }

    .modal h4 {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .modal a.close-modal { 
      border: none; 
      top: 10px !important;
      right: 10px !important;
      background-image: url("../imagens/close.png") !important;
      width: 15px !important;
      height: 15px !important;
    }

    @media(max-width: 600px) {
      html {
        font-size: 14px;
      }
      h2 a { display: block; margin-bottom: 0.5em; }
      pre { font-size: 11px; line-height: 1.5; }
      pre code { padding: 5px; }
      a.btn { display: block; text-align: center; padding: 1rem; }
    }