/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// В© Denis Ineshin, 2014    https://github.com/IonDen
// В© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
    bottom: 15px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 5px; 
    top: 46px;
    background: #f1f0ed;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
    .irs-line-left {
        height: 5px;
    }
    .irs-line-mid {
        height: 5px;
    }
    .irs-line-right {
        height: 5px;
    }

.irs-bar {
    height: 5px; 
    top: 32px;
    background:#ac4fc6;
}
    .irs-bar-edge {
        height: 5px; 
        top: 32px;
        width: 14px;
        border-right: 0;
        background:#ac4fc6;
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }


.irs-slider {
    top: 25px;
    width: 18px; 
    height: 18px;
    border: 1px solid rgba(0,0,0,.4);
    background: #ffffff;
    border-radius: 27px;
    -moz-border-radius: 27px;
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    display: none !important;
}

/*.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}*/

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 12px; 
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
    background: #c26fd9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 15px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #6eb3e2;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}