.icon_select_mate {
  position: absolute;
  top: 8px;
  right: 2%;
  height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  float: left;
  min-width: 220px;
  width: 100%;
  min-height: 30px;
  color: #777;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: all 375ms ease-in-out;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.select_mate:hover {
  border: 1px solid #ac4fc6;
  box-shadow: none;
}


.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: transparent;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  transition: all 375ms ease-in-out;
}
.cont_select_int li {
  top: 2px;
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  background-color: #cd9dda;
  color: #fff;
  list-style-type: none;
  padding: .375rem .75rem;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
.cont_select_int li:last-child {
  border-radius: 25px;
  border-bottom: 0px;
}
.cont_select_int li:hover {
  background-color: #be86ce;
  color: #fff;
}
.cont_select_int .active {
  background-color: #f1f0ed;
  color: #ac4fc6;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
  padding: .375rem .75rem;
  width: 100%;
  display: block;
  margin: 0px;
  cursor: pointer;
}
