* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-menu .ui-menu-item-wrapper {
  text-align: left;
  max-width: 300px;
  background-color: #fff;
  color: #ac4fc6;
  padding-bottom: 6px;
}

.ui-menu .ui-menu-item-wrapper:hover {
  background-color: #be86ce;
  color: #fff;
  border: 0px;
}

.ui-widget {
  font-family: 'Montserrat', 'Roboto', 'Lato', 'Raleway', sans-serif;
  font-size: 16px;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-x: auto;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.page-link:not(:disabled):not(.disabled) {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}


/* Alinhamento */
.clear {
  clear: both;
}


/* Botões e Formulários */
.btn {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  font-weight: bold;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

.form-control:focus {
  border: 1px solid #ac4fc6 !important;
  box-shadow: none;
}

.form-inline input {
  margin: 5px 10px 5px 0;
  padding: 10px;
}

#frmIni {
  padding-top: 10px;
}

.btn-primary {
  background-color: #ac4fc6;
  border: 0;
}

#row-btn {
  width: 100%;
}

#procuraServ {
  margin-right: 10px;
}

#enviar,
#imprimir,
#procuraServ {
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary:hover,
.btn-primary:focus,
#enviar:hover,
#imprimir:hover {
  background-color: #84329b;
}

#iniServ,
#selOrdenacao,
#formNome,
#formEmail,
#formAssunto,
#formMensagem,
#minPreco,
#maxPreco {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

#slider {
  width: 100%;
}

/* Base */
html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  color: #51529c;
  text-align: center;
  font-family: 'Montserrat', 'Roboto', 'Lato', 'Raleway', sans-serif;
}


.background {
  background-image: url("../imagens/bg-branco.png");
  background-size: cover;
  background-repeat: repeat-y;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
  text-align: left;
}


/* Menu */
.logo {
  max-width: 150px;
  width: auto;
  height: auto;
}

.masthead {
  left: 0;
  position: relative !important;
}



.masthead-nav > li {
  display: inline-block;
  text-decoration: none;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

/*.masthead-nav > li > a {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #51529c;
  color: rgba(81,82,156,.75);
}*/

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
}

.masthead-nav > .active {
    background-color: #51529c;
    border-radius: 25px;
}

.masthead-nav > .active > a {
    color: #ffffff !important;
}

.masthead-nav > li > a:hover {
    color: #51529c;
}

.masthead.clearfix {
    width: 100% !important;
}

@media (min-width: 769px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/* Imagens */
#img-page,
#img-page-pesquisa {
  position: absolute;
  width: auto;
  height: auto;
}

#img-page {
  max-width: 425px;
  max-height: 525px;
  bottom: 0;
  right: 10%;
}

#imgFull {
  margin-bottom: 0px !important;
}


/* Pesquisa */
.datagrid {
  background-color: #f1f0ed;
  border-radius: 50px;
  padding: 0px;
}

.datatable {
  width: 100%;
}

.table td, 
.table th {
  border: 0;
}

.pesquisa {
  width: 80%;
}

#nenhumRegistro {
  padding: 10px;
}

.invisible {
	display: none;
}

/* Conteúdo */
h2 {
  font-size: 35px;
}

.img-container {
  height: auto; 
  width: auto;
  margin: 10px;
}

.img-container.pesquisa {
  height: 203px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

#imgPesqServ {
  max-width: 400px;
  max-height: 203px;
}

#imgPesqCid {
  max-width: 400px;
  max-height: 185px;
}



.divider {
  margin: 50px 0;
  width: 100%;
}

.heading {
  font-weight: bold;
}

.item-card {
  position: relative;
  transform: translateX(-50%);
  margin-left: 50%;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.about-wrapper {
  overflow: hidden;
  position: relative;
}

.col-cb {
  margin-right: -10px;
}



.num {
  font-size: 40px;
  font-weight: bold;
}

.lead {
  color: #5e5e5e;
}

/* Filtros */
.filtrarSeguro {
	display: none;
}
.filtrarPres {
	display: none;
}

/* Mobile */
@media (max-width: 576px) {
  .btn-primary {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .masthead-brand,
  h1,
  p {
    text-align: center;
  }

  .modal h4,
  .modal p {
    text-align: left;
  }

  .masthead-nav {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .masthead-nav > li {
    display: block;
  }

  .masthead-nav > li > a {
    display: block;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #51529c;
    color: rgba(81,82,156,.75);
  }
  
  .container,
  .about-wrapper,
  .inner,
  #pagSob {
    display: block;
    float: center;
    width: 100%;
    overflow: inherit;
  }

  #pagPesq {
    margin-top: 275px;
    margin-bottom: 0;
  }

  #pagSob {
    margin-top: 30px;
  }

  .inner {
    text-align: center;
  }

  .text-middle {
    width: 100%;
    position: relative;
  }

  .form-row>.col, 
  .form-row>[class*=col-] {
    text-align: left;
  }

  

  #enviar,
  #imprimir {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .form-row {
    display: inline-block;
    width: 100%;
  }

  .form-control {
    display: block;
    width: 100%;
  }

  .col-sm-3,
  .col-sm-2 {
    width: 100%;
    max-width: 100%;
  }

  .btn-primary {
    width: 100%;
  }

  .col-lg-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row {
    display:inherit;
  }

  .irs {
    margin-top: 50px;
  }

  .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #img-page,
  .img-container {
    display: none !important;
  }

  .text-middle {
    position: relative;
    width: 100%;
  }

  .sobre-left,
  .sobre-right {
    float: center;
  }
}

@media (min-width: 768px) {
  .container {
    display: block;
    margin-top: 50px;
  }
  
  .site-wrapper-inner {
    vertical-align: middle;
  }
  
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  
  .masthead,
  .cover-container {
    width: 700px;
  }

  .masthead-nav > li > a {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #51529c;
    color: rgba(81,82,156,.75);
  }

  .container {
    display: block;
  }

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }

  #navIni,
  #navCon,
  #navCid {
    position: fixed !important;
    top: 0;
  }
  
}

@media (min-width: 992px) {
  #bodyIni,
  #bodyCid {
    background-image: url("../imagens/background.png");
    background-size: cover;
  }
  
  .slBox {
    margin-left: -50px;
    width: 500px;
  }

  .col-sm-2,
  .col-sm-3 {
    margin-right: 20px;
  }

  .col-lg-4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .text-middle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 75%;
}

  .right {
    right: 0px;
    margin: 10px;
  }

  .left {
    left: 0px;
    margin: 10px;
  }

  .sobre-left {
    width: 80%;
    float: left;
  }
  
  .sobre-right {
    width: 80%;
    float: right;
  }

  #pagSob,
  #pagCon,
  #pagPesq {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #procuraCid {
    margin-left: 80px;
  }
}
