input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

.switch {
	margin-top: 8px;
	position: relative;
	display: inline-block;
	width: 35px;
	height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
  }
	
	.irs-slider.type_last {
		z-index: 0 !important;
	}

  input:checked + .slider {
	background-color: #ac4fc6;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #ac4fc6;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 20px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  #lbSeguro,
  #lbPresencial {
	  margin-left: 45px;
  }